body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #0d6efd;
}

footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 15px 0;
  text-align: center;
}

.carousel img {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .carousel img {
    height: 250px;
  }
}

#item-table thead th {
    background-color: #0d6efd;
    color: white !important;
    font-weight: bold;
}

.ui-footer h4 {
    font-size: 0.8em;
    margin: 0.5em 0;
}

